div#pt_metabox_notice {
    background: #008ec2;
    color: #fff;
}

div#pt_metabox_notice h2.hndle.ui-sortable-handle {
    color: #fff;    
}

.pt_shortcode {
    background-color: #71BBDE;
    color: #ffffff;
    padding: 8px 8px;
    text-align: center;
}
#poststuff .pt_shortcode h2 {
    color: #ffffff;
    text-align: center;
    margin-top: 0 !important;
    line-height: normal;
    border-bottom: 1px solid #fff;
    font-weight: 400;
    font-size: 1.5em;
    padding: 0 0 3px;
    letter-spacing: 1px;
    font-family: 'Lato', Calibri, Arial, sans-serif;
}
.pt_shortcode textarea {
    text-align: center;
    padding: 4px 0px;
    resize: none;
}


/*Metabox style*/
.pt-tabs-menu {
    margin-top: 30px;
    margin-bottom: 0;
    height: 51px;
    clear: both;
}

.pt-tabs-menu li {
    height: 52px;
    line-height: 42px;
    float: left;
    margin-right: 8px;
    background-color: #e4e4e4;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
    margin-bottom: 0;
    padding: 4px 7px;
    font-weight: 700;
    font-size: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.pt-tabs-menu a:active, .pt-tabs-menu a:focus, .pt-tabs-menu .current a:active, .pt-tabs-menu .current a:focus {
    box-shadow: none;
}

.pt-tabs-menu li a {
    padding: 14px;
    color: #555;
    text-decoration: none;
}

.pt-tabs-menu li:hover {
    background-color: #fff;
    color: #464646;
}

.pt-tabs-menu li.current {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.pt-tabs-menu .current a {
    color: #000;
}

.pt-tab {
    border: 1px solid #d4d4d1;
    background-color: #fff;
    margin-bottom: 20px;
    width: auto;
}

.pt-tab-content {
    padding: 20px;
    display: none;
}

#pt-tab-1 {
    display: block;
}

.post-type-pricing-table-lite .wrap h1 a.page-title-action {
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    -webkit-box-shadow: 0 1px 0 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799,1px 0 1px #006799,0 1px 1px #006799,-1px 0 1px #006799;
}

.post-type-pricing-table-lite .wrap h1 a.page-title-action:hover {
    background: #008ec2;
    border-color: #006799;
    color: #fff;
}

.bs3d-checkbox-wrapper {
    margin-left: 24px;
    padding: 8px 10px;
    background: #F5F5F5;
    font-size: 13px;
}

.bs3d-checkbox-wrapper ul li {
    display: inline-block;
    padding: 0px 9px;
}

.bs3d-checkbox-wrapper ul li:first-child {
    padding-left: 0;
}

.bs3d-active {
    display: block!important;
}

.lfm.bs3d-active {
    display: inline-block!important;
}


#pt-tab-4 h2 {
    font-size: 23px;
    font-weight: 400;
    padding: 9px 15px 4px 0;
    line-height: 29px;
    margin: 0;
}

#pt-tab-4 p {
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 14px;
}

#pt-tab-3 h2 {
    font-size: 23px;
    font-weight: 400;
    padding: 9px 15px 4px 0;
    line-height: 29px;
    margin: 0;
}

#pt-tab-3 p {
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 14px;
}

/*
style for custom columns
*/
th#title {
    width: 250px;
}
th#pt_shortcode_col {
    width: 220px;
}


/*Custom META BOX STYLE */
h3.pt-heading {
    position: relative;
    text-align: center;
    padding: 11px 0;
    font-size: 16px;
    color: #444;
    margin-bottom: 5px;
    margin-top: 0;
    background-image: linear-gradient(to top,#ececec,#f9f9f9);
    border-bottom: 2px solid #dfdfdf;
}

.postbox-container .cmb-row {
    margin: 0;
    padding: 18px 0;
}

.pt_package_time .cmb-th label, .btn .cmb-th label  {
    padding: 0;
}

.cmb2-wrap input.cmb2-text-small.ps {
    width: 50px;
}

.cmb2-wrap input.cmb2-text-small.pa {
    width: 155px;
}

textarea.pt_package_features{
    height: 150px;
}

.cmb2-wrap textarea {
    width: 230px;
}

.fright{
    float: right;
}
.fleft{
    float: left;
}
.pt-clear{
    clear: both;
}

.pt-btn{
    position: absolute;
    right: -9px;
    top: -10px;
    height: 28px!important;
    width: 30px!important;
    padding: 0!important;
}
.pt-btn:hover {
    border-color: inherit;
}
.pt_op_heading {
    text-align: center;
    color: #655d5d;
}

/* Styles, not important */
*, *:before, *:after {
    box-sizing: border-box;
}
/*fix button padding issue on color picker*/
a.wp-color-result {
    box-sizing: content-box;
}

.pricing-table-wrap {
    width: 344px;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    float: left;
    margin: 10px 45px 30px 0;
}

.pt_shortcode {
    clear: both;
}

#pt-tab-1 {
    overflow: hidden;
}

#add_package {
    font-size: 14px;
    line-height: 28px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 15px;
}

#add_package .dashicons {
    margin-top: 4px;
    margin-right: 3px;
}

.pricing-table-body {
    padding: 0 10px;
}

.pt-btn .dashicons-no {
    font-size: 23px;
    color: #ff0000;
    line-height: 27px;
    margin-left: 0px;
    width: 100%;
    height: auto;
}

#pt-tab-2 h2.pt_op_heading {
    font-size: 17px;
    font-weight: bold;
    padding: 0;
}

#pt-tab-2 h2.pt_op_heading span {
    color: #0073aa;
}





/**
 * Tooltip Styles
 */

 a.adl-tooltip {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background-color: hsla(0, 0%, 20%, 0.9);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 12px;
    line-height: 17px;
    display: inline-block;
    margin-left: 7px;
    margin-top: 6px;
}

/* Base styles for the entire tooltip */
a.adl-tooltip:before,
a.adl-tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:    
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:         
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
.adl-tooltip:hover:before,
.adl-tooltip:hover:after,
.adl-tooltip:focus:before,
.adl-tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.adl-tooltip:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.adl-tooltip:after {
    z-index: 1000;
    padding: 9px 11px;
    width: 230px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    font-size: 12px;
    text-align: left;
    line-height: 19px;
}

/* Right */
.adl-tooltip:before {
  top: 2px;
  left: 100%;
}

.adl-tooltip:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.adl-tooltip:hover:before,
.adl-tooltip:hover:after,
.adl-tooltip:focus:before,
.adl-tooltip:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px); 
}

.adl-tooltip span:before {
    content: '?';
    font-weight: bold;
    color: #ffffff;
}

/* Vertically center tooltip content for left/right tooltips */
.adl-tooltip:after {
    margin-left: 5px;
    margin-top: -15px;
}

.cmb-th label {
    float: left;
}




/*Upgrade page*/
.aps-admin-extra{
    padding: 25px;
}
.aps-admin-extra p{
    font-size: 14px;    
}
.aps-admin-extra ul{
    list-style: none;
    padding-left: 20px;
}
.aps-admin-extra li{
    margin-bottom: 12px;
}
.aps-admin-extra ul li:before{
    content: "\2713";
    padding-right: 10px;
    width: 10px;
    height: 10px;
    font-size: 16px;
    color: #2a801a;
}


.pt-upgrade-overlay{
    opacity: 0.3;
}

.pt-upgrade-notice > p {
    font-size: 13px;
}
.pt-upgrade {
    display: inline-block;
    margin-left: 20px;
}
.pt-upgrade p {
    margin: 0;
}
.pt-upgrade a.button {
    height: 40px;
    line-height: 39px;
    margin-top: 1px;
}

/*accordion and font slider*/
.fontSlider,
.pixel,
a.adl-tooltip {
    display: inline-block;
}

.ui-state-active {
    background: #0085ba!important;
    border-color: #006799!important;
}

#aptAccordion>h2 {
    outline: 0;
    padding: 12px 12px;
    font-size: 15px;
}

.fontSlider {
    width: 70%;
}

.pixel {
    background: #eee;
    padding-right: 8px;
    margin-left: 40px;
    color: #626262;
    font-size: 17px;
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
    -webkit-transition: 50ms border-color ease-in-out;
    transition: 50ms border-color ease-in-out;
}

input[readonly].pt-font-input,
input[type=text].pt-font-input {
    width: 32px;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    border: 0!important;
    color: #5797de!important;
    font-weight: 700;
    outline: 0;
    background: #eee;
    text-align: right;
    padding: 5px 4px 5px 8px;
    box-shadow: none;
}

span.ui-slider-handle:hover {
    cursor: col-resize;
}

.ui-slider-range,
span.ui-state-active {
    background: #71BBDE!important;
    border: #5797de!important;
}

.ui-slider:hover {
    cursor: pointer;
}